.App {
  text-align: center;
  height: calc(100vh);
  background-color: #efefef;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  transition-duration: 0.4s;
  width: 47.5px;
  height: 47.5px;
  cursor: pointer;
}

.button:hover {
  background-color: #555555;
  color: white;
}

.draw_cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
}

.view-draw {
  height: calc(100vh - 65px);
}

.home2 {
  position: relative;
  background-color: #ffffff;
  padding: 0.01em 14px;
  height: var(--appbar-container-height);
  padding-top: 8px;
  line-height: 50px;
  overflow: hidden;
  z-index: 2;
}

.logo2 {
  height: 55px;
}

.draw-containter2 {
  height: 55px;
}

.draw2 {
  font-weight: bold;
  margin-right: 10px;
  font-size: 15px;
  display: inline;
  line-height: 1.5;
  padding: 6px 14px;
  position: relative;
  color: #fff;
  background-color: #5b5bff;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.draw2:hover {
  background-color: #6666ff;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #555555;
  color: white;
}

.logo2 {
  height: 55px;
}

.draw-containter2 {
  height: 55px;
}

.draw2 {
  font-weight: bold;
  margin-right: 10px;
  font-size: 15px;
  display: inline;
  line-height: 1.5;
  padding: 6px 14px;
  position: relative;
  color: #fff;
  background-color: #8a8aff;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.draw3 {
  font-weight: bold;
  margin-right: 10px;
  font-size: 15px;
  display: inline;
  line-height: 1.5;
  padding: 6px 14px;
  position: relative;
  color: #fff;
  background-image: linear-gradient(#7B7B7B, #272727);
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.draw3:hover {
  background-image: linear-gradient(#8E8E8E, #3C3C3C);
}

.modal-draw {
  color: #636363;
  width: 450px;
}

.modal-draw .modal-content {
  padding: 40px 40px 20px 40px;
  border-radius: 5px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
}

.modal-draw .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-draw .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -120px;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  z-index: 9;
  background: #60c7c1;
  padding: 15px;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
}

.modal-draw .avatar .img {
  width: 100%;
}

.img {
  vertical-align: middle;
  border-style: none;
}

.modal-draw .h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.h4,
.h4 {
  font-size: 1.5rem;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.form {
  display: block;
  margin-top: 0em;
}

.form-group {
  margin-bottom: 1rem;
}

.modal-draw .form-control {
  min-height: 40px;
  border-radius: 3px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input {
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.modal-draw .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
  min-height: 40px;
}

.btn:hover {
  background: #42bbb5;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

/* Shared */
.drawBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  width: 132px;
}

.drawBtn:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.drawBtn:focus {
  outline: none;
}

.drawBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}


div {
  display: block;
}

.relative {
  position: relative;
}

.inline {
  display: inline;
}

.inlineblock {
  display: inline-block;
}

.block {
  display: block;
}

.none,
.dis-no {
  display: none;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.dis-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dis-center2 {
  display: flex;
  justify-content: center;
}

.dis-flex-end {
  display: flex;
  justify-content: flex-end;
}

.dis-flex {
  display: flex;
}

.dis-flex-row {
  display: flex;
  flex-direction: row;
}

.flex-auto {
  flex: auto;
}

.dis-flex-column {
  display: flex;
  flex-direction: column;
}

.dis-space-between {
  display: flex;
  justify-content: space-between;
}

.text-r {
  text-align: right;
}

.text-l {
  text-align: left;
}

.dis-flex-items-start {
  display: flex;
  align-items: flex-start;
}

.dis-space-around {
  display: flex;
  justify-content: space-around;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.sticky {
  z-index: 100;
  position: sticky;
  top: 0px;
}

.overflow {
  overflow: hidden;
}

.mouse:hover,
a:hover,
a {
  cursor: pointer;
  user-select: none;
}

.work-cotainter {
  height: calc(100vh - 80px);
  background-color: #b8b8b8;
}

.testing {
  padding: 20px 20px;
  font-size: 25px;
}